/* Navbar Start */
body{
    margin: 0;
    padding: 0;
}
.main_navba
{
    position: fixed;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    z-index: 1;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,10);
}
.Logo{
    position:relative;
    width: 17%;
    height: 100%;
    border: none;
    float: left;
    background-color:#00ffff;
    transform: skewX(15deg);
    transform-origin: bottom left;
}
.inner_logo{
    position:absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    float: left;
    transform: skewX(-15deg);
}
.logo_text{
    font-size:22px;
    font-weight:bolder;
    margin-top: 10%;
    text-shadow:1px 1px 1px #000; 
}
#navba_2{
    position:relative;
    width: 13%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    float: left;
}
.subna{
    position:relative;
    width: 13%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    float: left;
}
.flag{
    position:relative;
    width: 13%;
    height: 100%;
    line-height: 100%;
    float: right;
    text-align: center;
}
.nav_te{
    font-size:22px;
    font-weight:bold;
    color:#00ffff;
    margin-top: 10%;
}
.nav_tex{
    font-size:22px;
    font-weight:bold;
    color:white;
    margin-top: 10%;
}
.subna:hover .nav_tex{
    color:#00ffff;
}
#navba_2:hover .nav_tex{
    color: #00ffff;
}
.toggle{
    position: absolute;
    visibility: hidden;
}
#nav_toggle{
    visibility: hidden;
}
/* Navbar End */ 
.box{
    position: absolute;
    border-top: 1px solid #524747;
    border-bottom: 1px solid #524747;
    width: 70%;
    height: 600px;
    margin-top: 7%;
    margin-left: 15%;
    border-radius: 5px;
    z-index: -1;
}
.box1{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align:center;
    font-size: 29px;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #00ffff;
    font-weight: bold;
    z-index: -1;
    border-bottom:1px solid #524747;
}
.box2{
    width: 100%;
    height: 485px;
    padding-left:10%;
    padding-right:10%;
    padding-top:7%;
    padding-bottom:7%;
    z-index: -1;
    background-color: white;
}
.box3{
    width: 100%;
    height: 42px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #524747;
    background-color: white;
}